{% extends "base.html" %}

{% block moreScripts %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
{% endblock moreScripts %}

{% block app_content %}

<div class="main row">
    <div class="col-6 left">
        <div class="row">
            <div class="col-12">
                <div class="blurb-container">
                    <div class="company-name">Hedgehog</div>
                    <div class="blurb">Hedgehog is the tits</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h1>Other stuff</h1>
    </div>
</div>

{% endblock %}
