{% extends "base.html" %}

{% block moreScripts %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
{% endblock moreScripts %}

{% block app_content %}

<div class="main row">
    <div class="col-12">
        <div class="blurb-container">
            <div class="company-name">Hedgehog</div>
            <div class="blurb">Looking for somewhere to eat or drink? <br><br>We can't help with that (yet) but we can offer you 
                the chance to win a $50 voucher if you fill out our survey (it takes less than 5 mintues) 
            </div>
            <a href="https://forms.gle/nf1UVEPjoftRaWZj8"><div class="btn btn-primary btn-lg cta">Take Our Survey</div></a>
        </div>
    </div>
</div>

{% endblock %}
