{% extends "base.html" %}

{% block moreScripts %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
{% endblock moreScripts %}

{% block app_content %}


<div class="col-12">
    <div class="logo-container">
        <div class="company-name">Hedgehog</div>
    <div class="form-container">
        <form action="{{url_for('main.index')}}" method="post" class="search-form" role="form">
            {{ form.hidden_tag() }}
            <p>
                {{ form.search_term.label }}<br>
                {{ form.search_term(size=32) }}
            </p>
            <a title="Search"><input type=submit value="Search" class='btn btn-primary btn-lg'></a>
        </form>
    </div>
</div>


{% endblock %}
