.main {
    height: 100vh;
}

.title {
    font-size: 66px;
}

.left {
    background-color: bisque;
}

.right {
    background-color: cornflowerblue;
}

.blurb-container {
    height:80vh;
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    background-color: azure;
}

.company-name {
    font-size: 44px;
    margin: auto;
    text-align: center;
}

.blurb {
    width: 80%;
    background-color: burlywood;
}