.main {
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font: Trebuchet MS (sans-serif);
    color:antiquewhite;
}

.title {
    font-size: 66px;
}

.left {
    
}

.right {
    
}

.blurb-container {
    height:80vh;
    width: 80%;
    margin: auto;
    margin-top: 10vh;
}

.company-name {
    font-size: 8vh;
    font-weight: 800;
    margin: auto;
    text-align: center;
}

.blurb {
    width: 80%;
    font-size: 4vh;
    margin: auto;
    margin-top: 4vh;
}

.cta {
    width: 80%;
    margin-left: 10%;
    margin-top: 8vh;
}